.lumne-slideshow{
	position:relative;
	/*max-width:909px;*/
}

.lumne-slideshow .top-show {
	/*background-color:#000;*/
	display:block;
	position:relative;
	overflow:hidden;
	/*max-width:909px;*/
	width:100%;
}

.lumne-slideshow .top-show:after{
	clear:both;
}

.lumne-slideshow .lumne_image{
	position:absolute;
	top: 0px;
	left: 0px;
	width:100%;
	height:auto;
	display:block;
	/*height:auto;*/
	/*background-color:#000;*/
	margin:0;
}

.ui-effects-wrapper{
    z-index: 3 !important;
}